@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--black-color: #000000;
	--castleton-green: #205843ff;
	--chinese-violet: #86648aff;
	--glossy-grape: #b39ebcff;
	--gradient: linear-gradient(to top, #f8f9fa, rgb(255, 255, 255));
	--honey-yellow: #f9ae1eff;
	--hoverGolden-color: #ffec99;
	--jet: #333533ff;
	--languid-lavender: #e1d9efff;
	--lightGrey-color: #f8f9fa;
	--palatinate-purple: #582957ff;
	--pastel-pink: #ddaea7ff;
	--tumbleweed: #d7a68dff;
}
html {scroll-behavior: smooth;}
h2{font-weight: 400;padding: 4% 0;}
h3{padding: 2% 0;}
p{padding: 10px 0 10px 0;line-height: 20px;}
q {font-style: italic;}
i{color: var(--palatinate-purple);}
a:hover{color: var(--palatinate-purple);}
body{background: url(../img/bg/white_wall_hash.png) center rgba(255, 255, 255, 0.7);}

/*Utility Classes*/
[aria-current]{font-weight: bold;}
* {
	box-sizing: border-box;
	color: var(--jet);
	font-family: 'Raleway',
	sans-serif;
	letter-spacing: 0.02vw;
	margin: 0;
	padding: 0;
}
.align-items-center{align-items: center;}
.big-item{-webkit-flex: 1.5 0 0; flex: 1.5 0 0;}
.bold-text{font-weight: bold;}
.box-shadow {box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 20px 0 rgba(0, 0, 0, 0.05);;}
.btn{
	border: solid var(--chinese-violet) 0.9px;
	color: var(--palatinate-purple);
	display: inline-block;
	font-size: small;
	letter-spacing: 2px;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px;
}
.btn:hover{
	background-color: var(--palatinate-purple);
	color: #ffff;
}
.btn-secondary{
	background-color: var(--palatinate-purple);
	border: none;
	border-radius: 2px;
	color: white;
	letter-spacing: 0.2em;
	margin-top: -150px;
	padding: 0.7rem 2rem;
	transition: 0.2s;
	border-radius: 8px;
}
.btn-secondary:hover{transform: scale(1.2);}
.card {	
	background-color: #ffffff;
	border: 1px solid #ebe7ee;
	margin: 10px;
	max-width: auto;
	padding: 1.5em;
	border-radius: 8px;
 }
.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	align-items: center;
	justify-content: center; 
	padding: 1.5rem;
}
.content-align-center{margin: 0 auto;}
.content-align-left{margin-left: auto; margin-right: 0;}
.content-align-right{margin-left: 0;margin-right: 100%;}
.darken-blending{background-blend-mode:darken;}
.drop-shadow-large {filter: drop-shadow(5px 5px 10px rgb(0 0 0 / 0.3));}
.drop-shadow-medium {filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.6));}
.flex{display: flex;}
.flex-column{flex-direction:column;}
.flex-start{align-items: flex-start;}
.float-left{float: left;}
.float-right{float: right;}
.justify-content-center{justify-content: center;}
.line-detail{
	background: var(--tumbleweed);
	height:3px;
	width: 4em;
	margin: 1em;
}
.line-detail-h::after{
	background-color: var(--tumbleweed);
	content: "";
	display: block;
	height: 3px;
	margin: 0.5em auto;
	width: 4em;
}
.line-detail-p::after{	
	background-color: var(--tumbleweed);
	content: "";
	display: block;
	height: 2px;
	margin: 0.5em auto;
	width: 2em;
}
.line-horizontal{
	background: var(--jet);
	height:1px;
	opacity: 0.2;
	width: 50%;
	margin: 0.7em 0;
}
.line-vertical{	
	background: var(--tumbleweed);
	height: auto;
	margin: 1em;
	opacity: 1;
	width: 3px;
}

.hidden{display: none;}
.hide-on-desktop{display: none;}
.margin-10px{margin: 10px;}
.margin-left{margin-left: 1.5rem}
.margin-right{margin-right: 1.5rem}
.padding{padding: 0;}
.padding-bottom{padding-bottom: 1.5rem;}
.padding-left{padding-left: 1.5rem;}
.padding-right{padding-right: 1.5rem;}
.padding-top{padding-top: 1.5rem;}
.plate-utensils{background: url(../img/SVG/plate-utensils.svg)	no-repeat;width: 33px; height: 33px;}	
.rings-wedding{background: 	url(../img/SVG/rings-wedding.svg) 	no-repeat;width: 33px; height: 33px;}
.rotate-text{transform: rotate(-10deg);}
.small-item{-webkit-flex: 1 0 0; flex: 1 0 0;}
.text-align-center{text-align: center; }
.text-align-left{text-align: left;}
.text-align-right{text-align: right;}
.stylish-font{
	font-weight: lighter;
	font-family:'Great Vibes', cursive;
	font-size: 2em;
	color: var(--honey-yellow);
}

/*-----------------------------headerSlideShow----------------------------------*/
.dot {
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 7px;
	margin: 0 10px;
	width: 7px;
}
.dotsbox {
	bottom: 20px;
	cursor: pointer;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
}
.active, .dot:hover{background-color: var(--honey-yellow);}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: 0.3}
	to {opacity: 0.9}
}
@keyframes fade {
	from {opacity: 0.3}
	to {opacity: 0.9}
}
.imgSlideShow {
	animation-name: zoomin;
	animation-duration: 80s;
	transform: scale(1, 1);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 80s;
}
@-webkit-keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(2, 2);}
}
@keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(2, 2);}
}
.myslide {
	display: none;
	height: 65vh;
	overflow: hidden;
}
.myslide img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.prev,
.next {
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 15px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	transition: 0.1s;
	user-select: none;
}
.prev:hover,
.next:hover {color: var(--honey-yellow);}
.next {right: 0;}
.slider {
	background: #000000;
	position: relative;
	width: 100%;
}
.slideShowTxt {
	animation-duration: 2s;
	animation-name: posi;
	color: #fff;
	left: 15%;
	letter-spacing: 2px;
	line-height: 25px;
	position: absolute;
	top: 40%;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: posi;
	z-index: 1;
}
@-webkit-keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 15%;
	}
}
@keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 15%;
	}
}
.slideShowTxt {
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
/*------------------------headerSlideShow_ENDS-------------------------------------*/


/*----------------------- vanillaNavigation_bar------------------------------------*/
.dropbtn {border: none;}
.dropdown {
	display: inline-block;
	position: relative;
}
.dropdown-content {
	background-color: #ffffff;
	display: none;
	min-width: 250px;
	position: absolute;
	z-index: 2;
}
.dropdown-content a {
	display: block;
	padding: 12px 20px;
	text-decoration: none;
}
.dropdown-content a:hover {color: var(--honey-yellow);}
.dropdown:hover .dropdown-content {display: block;}
.navbar{
	height: 50px;
	width: auto;
	background-color: white;
}
.navbar ul {
	list-style-type: none;
	text-align: center;
	width: auto;
}
.navbar li {
	display: inline-block;
	margin: 6px auto;
	padding: 10px 15px;
	text-align: center;
}
.navbar a{
	color: var(--jet);
	font-size: 1.04vw;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar a:hover {color: var(--honey-yellow);}
/*-------------------------vanillaNavigationBar_ENDS--------------------------------*/
/*---------------------------accordionNavigationBar---------------------------------*/
.accordion {
	background-color: #ffffff;
	border: none;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15),
	0 2px 20px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	font-size: 20px;
	outline: none;
	padding: 15px;
	text-align: center;
	transition: 0.4s;
	width: 100%;
}
.accordion-container{
	display: none;
}
.panel {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	padding: 0 18px;
	text-align: center;
	transition: max-height 0.2s ease-out;
}
/*------------------------accordionNavigationBar_ENDS--------------------------------*/
/*------------------------------countdownTimer---------------------------------------*/
#about-information, #home-countdown{
	margin-top: -2.5rem;
	position: relative;
	z-index: -1;
	background: url(../img/bg/spiration-light.webp) center rgba(255, 255, 255, 0.7);

}
#about-information .card, #home-countdown .card{
	border-bottom: 10px solid var(--palatinate-purple);
}

.countdown{
	font-size: 4vw;
	margin: 2%;
	padding: 0;
	text-align: center;
}
/*----------------------------countdownTimer_ENDS-----------------------------------*/
/*------------------------------home-announcement-----------------------------------*/
#home-announcement {
	align-items: center;
	justify-content: center;
	min-height: 700px;
	width: 100%;
	background: url(../img/bg/cream_dust.png) center rgba(255, 255, 255, 0.7);
	background-color: white;
}
#home-announcement .line-vertical{
	background: var(--tumbleweed);
	height: 20rem;
	margin: 1em;
	opacity: 1;
	width: 3px;
}

.home-announcement-left{
	background: url(../img/safeTheDate_section_edited@2x.jpg) no-repeat center/cover;
	height: 45vw;
	width: 80%;
	border-radius: 8px;
}
.home-announcement-right{
	align-items: center;
	background-color: white;
	border: 1px solid #ebe7ee;
	border-right: solid var(--palatinate-purple) 50px;
	display: flex;
	justify-content: center;
	margin-left: -45px;
	min-height: 450px;
	padding: 30px;
	text-align: center;
	width: 70%;
	border-radius: 8px;
}
.home-announcement-right h2{
	font-weight: bolder;
	font-size: 3vw;
	padding: 5px 0px 5px 0;
	color: var(--jet);
}
.home-announcement-right h3{
	color: var(--palatinate-purple);
	font-size: 1.5vw;
	font-weight:400;
	opacity: 85%;
}
.home-announcement-right h4{
	color: var(--palatinate-purple);
	font-size: 1.2vw;
	opacity: 85%;
	padding: 0 10px;
}
.home-announcement-right .stylish-font{
	color: var(--honey-yellow);
	font-size: 2.5rem;
	margin-top: -2vw;
}
.curl{
	background-size: 5rem;
	height: 1.5rem;
	opacity: 0.5;
	width: 8rem;
}
.curl-left{
	background: url(../img/SVG/curls_left.svg) no-repeat center/cover;
}
.curl-right{
	background: url(../img/SVG/curls_right.svg) no-repeat center/cover;
}
/*--------------------------------home-announcement_ENDS-----------------------------------*/
.section-header	{padding: 1.5vw;	margin: 0 2vw;}
.section-header h2{font-size: 3vw; padding: 0.3em 0;}
.section-header h3{padding: 0.25em 0; color:  var(--tumbleweed);}
.section-header p{padding: 2vw 0;}
.section-header i{font-size: 3vw;padding: 0.3em 0.75em;}
/*-------------------------------------home-about------------------------------------------*/
.branch-left{	background: url(../img/SVG/branch_left.svg)		no-repeat center;}
.branch-right{	background: url(../img/SVG/branch_right.svg)	no-repeat center;}
.leaf-left{		background: url(../img/SVG/leaf_left.svg)		no-repeat center;}
.leaf-right{	background: url(../img/SVG/leaf_right.svg)		no-repeat center;}
.decorative-branches{
	background-size: 10rem;
	height: 8rem;
	width: 10rem;
}
.decorative-leaves{
	background-size: 5rem;
	height: 5rem;
	width: 5rem;
}
#home-about .card{width: 500px;}
#home-about .section-header h2{font-size: 3vw;}
.profile-image{
	border-radius: 50%;
	border: 3px solid var(--palatinate-purple);
	padding: 3%;
}
.profile-main{line-height: 1.1;}
.profile-main h2{font-size: 1.7em; margin-top: 10px;}
.profile-main h3{color: var(--honey-yellow);font-size: 1.7em;}
.social-list{
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100px;
}
.social-list a{
	font-size: 1rem;
	opacity: 0.8;
}
.social-list a:hover{opacity: 1;}
.social-list i{color: var(--palatinate-purple);}

/*----------------------------------home-about_ENDS------------------------------------*/



/*---------------------------------------quotes----------------------------------------*/
.dotQuote {
	cursor: pointer;
	height: 7px;
	width: 7px;
	margin: 0 0.7em;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.activeQuote,
.dotQuote:hover {
	background-color: var(--honey-yellow);
}
.myQuotes {
	display: none;
	padding: 80px;
	text-align: center;
}
.myQuotes-author {color: var(--honey-yellow);}
.myQuotes-quote {color: white; font-size: 1.7vw;}
.quotes-container {position: relative;}
.quote-img-1{background: rgba(0, 0, 0, 0.5) url(../img/quoteBG1.jpg) fixed no-repeat center/cover;}
.quote-img-2{background: rgba(0, 0, 0, 0.5) url(../img/quoteBG2.jpg) fixed no-repeat center/cover;}
.quote-img-3{background: rgba(0, 0, 0, 0.5) url(../img/quoteBG3.jpg) fixed no-repeat center/cover;}
/*---------------------------------------quote_ENDS------------------------------------*/
/*------------------------------------home-information---------------------------------*/
#home-information{background-color: none;}
#home-information .card{
	height: 90%;
	margin: 0;
	width: 275px;
}
	
	
.infoIcon{
	height: auto;
	width: 45%;
}
.infoIcon-confirmation	{background: url(../img/SVG/infoIcon-confirmation.svg)	no-repeat center;}
.infoIcon-gifts			{background: url(../img/SVG/infoIcon-gifts.svg)			no-repeat center;}
.infoIcon-schedule		{background: url(../img/SVG/infoIcon-schedule.svg) 		no-repeat center;}
/*--------------------------------home-information_ENDS--------------------------------*/
/*----------------------------------------gallery--------------------------------------*/
.gallery img{
	filter: grayscale(25%);
	padding: 1%;
	transition: 0.5s;
	width: 20%;
}
.gallery img:hover{filter: none; transform: scale(1.1);}
/*--------------------------------------gallery_ENDS-----------------------------------*/
/*----------------------------------------footer---------------------------------------*/
#footer{background: url(../img/bg/white_carbon.webp) center rgba(255, 255, 255, 0.7);}
.footer-section{
	width:22%;
    display:block;
    padding: 2% 5%;
}
.footer-section h2{padding: 0.2em 0;}
.footer-section h2::after{
	background: var(--jet);
	content: "";
	display: block;
	height: 1px;
	margin: 0.5em 0;
	opacity: 0.2;
	width: auto;
}
.footer-section h3{padding: 0;}
.footer-section ul{
	list-style: none;
	width: auto;
}
.footer-section a{text-decoration: none;}
.footer-section a:hover{color: var(--palatinate-purple);}
.footer-section i {color: var(--palatinate-purple);}
.footer-list li{padding: 0.2em;}
.language-btn {padding-right: 10px;}
/*--------------------------------------footer_ENDS------------------------------------*/
.about-header-bg{
	background: url(../img/about-information-bg.jpg) no-repeat center/cover;
	width: auto;
	height: 15rem;
}
/*----------------------------------------timeline-------------------------------------*/
.timeline{
	height: auto;
	margin: 0 auto;
	max-width: 800px;
	position: relative;
	width: 80%;
	text-align: center;
}
.timeline ul{list-style: none;}
.timeline ul li{
	background-color: var(--lightGrey-color);
	border: solid 1px #ebe7ee;
	margin: 20px 0;
	padding: 20px;
	position: relative;
	border-radius: 10px;
	border-top: 10px solid var(--palatinate-purple);
}
.timeline li:last-child{margin-bottom: 0;}
.timeline-content p{margin-bottom: 10px;}
.timeline-content .time{
	color: var(--tumbleweed);
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 0;
	margin-bottom: 5px;
}
.timeline-content .timeline-icon{
	font-size: 1.5rem;
	padding: 10px;
	margin: auto 15px;
	color: var(--palatinate-purple);
	line-height: 10px;
}
/*Media querry applicable only for the timeline*/
@media only screen and (min-width: 768px) {
	.timeline{text-align: left;margin-top: 50px;}
	.timeline::before{
		background-color: var(--palatinate-purple);
		content: "";
		position: absolute;
		height: 55em;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		width: 5px;
	}
	.timeline ul li {
		width: 50%;
		position: relative;
		margin: 5px 0;
		margin-bottom: 50px;
	}
	.timeline ul li::after{
		background-color:var(--languid-lavender);
		border: solid 5px var(--palatinate-purple);
		border-radius: 50%;
		content: "";
		height: 20px;
		position: absolute;
		top: 0;
		width: 20px;
	}
	.timeline ul li:hover::after{
		background-color: var(--glossy-grape);
		border: 5px solid var(--palatinate-purple);
	}
	.timeline ul li:nth-child(odd) {
		float: left;
		clear: right;
		transform: translateX(-30px);
		border-radius: 20px 0px 20px 20px;
	}
	.timeline ul li:nth-child(odd)::after {
		transform: translate(50%, -50%);
		right: -31px;
	}
	.timeline ul li:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(30px);
		border-radius: 0px 20px 20px 20px;
	}
	.timeline ul li:nth-child(even)::after {
		transform: translate(-50%, -50%);
		left: -31px;
	}
	.timeline-content .time{
		color: var(--tumbleweed);
		position:absolute;
		top: -35px;
	}
}
/*--------------------------------------timeline_ENDS----------------------------------*/


.extra-information-content h2{font-size: 2.3vw;}
.extra-information-content p{padding: 10px 0;}
.extra-information-content i{
	background-color: var(--palatinate-purple);
	color: white;
	width: 50px;
	height: 50px;
	font-size: 1.4rem;
	padding: 13px 0;
	border-radius: 50%;
	text-align: center;
}

#map {
	height: 400px;
	width: 85%;
	margin: 15px 0;
}
#gallery-gallery .section-header h2, h3, p{padding: 0.5rem;}




@media screen and (max-width: 768px) {
	#map{width: 100%;}
	.about-map-left{width: auto;}

	.container{
		flex-direction: column;
		width: 100%;
		margin: 0 10px;
	}
	.flex{
		flex-direction: column;
		align-items: center;
	}
	.hide-on-small {display: none;}
	.hide-on-desktop{display: block;}
	.margin-left{margin-left: 0;}
	#about-information, #home-countdown{
		margin-bottom: -3rem;
		margin-bottom: 5px;
		position: relative;
		z-index: -1;
	}
	.home-announcement-left{
		width: 90%;
		height: 350px;
	}
	.home-announcement-right{
		width: 75%;
		margin: 0;
		margin-top: -65px;
		border-top: solid var(--palatinate-purple) 45px;
		border-right: 1px solid #ebe7ee;;
	}
	.home-announcement-right h3{font-size: 3vw;	}
	.home-announcement-header .flex{flex-direction: row;}
	.home-announcement-header h2{font-size: 3em;}
	.home-announcement-header h4{font-size: 1.2em;}
	#home-about .section-header h2{font-size: 6vw;}
	#home-about .card, #home-information .card{width: 500px;}
	#about-information h2, #home-countdown h2{font-size: 2.5em;}
	.myslide {height: 50vh;}
	.slideShowTxt {
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}
	@-webkit-keyframes posi2 {
		from {top: 35%;}
		to {top: 50%;}
	}
	@keyframes posi2 {
		from {top: 35%;}
		to {top: 50%;}
	}
	.slideShowTxt h1 {
		font-size: 30px;
		line-height: 1.2em;
		text-align: center;
	}
	.slideShowTxt p {
		font-size: 10px;
		text-align: center;
	}
	.dot {
		display: inline-block;
		width: 5px;
		height: 5px;
		background-color: #ffffff;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
	}
	.active {background-color: #ca9b52;}
	.accordion-container{display: block;}
	.navbar {
		width: 100%;
		height: auto;
		box-shadow: none;
		background-color: white;
		z-index: 1;
	}
	.navbar ul{
		position: relative;
		width: auto;
		height: auto;
		text-align: center;
		background: #ffffff;
		transition: all 0.5s;
	}
	.navbar li{
		display: block;
		margin: 5px 0;
		line-height: 15px;
	}
	.navbar a{font-size: 2vw;}
	.myQuotes q{font-size: 4vw;}
	.profile-main{
		text-align: center;
		margin: 0;
	}
	.profile-main h2{font-size: 2em;margin-top: 10px; padding: 0;}
	.padding-left{padding-left: 0;}
	.social-list{
		flex-direction: row;
		float: none;
		margin: 0 auto;
	}
	.gallery img{
		padding: 2%;
		width: 30%;
	}
	.footer-section{
		width:auto;
		text-align: center;
	}
	#footer .flex{flex-direction: row;}
	#footer .flex-column{flex-direction: column;}
	.languages-section .line-horizontal{margin: 10px auto;}
	.section-header h2{
		font-size: 5.5vw;
		text-align: center;
	}
	.section-header h3{
		font-size: 3vw;
		padding: auto;
		color:  var(--tumbleweed);
		text-align: center;
	}
	.section-header p{
		padding: 2vw;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.section-header .text-align-left{
		margin-top: 10px;
		text-align: center;
	}
	.curl-normal{
		width: 8rem;
		height: 1.5rem;
		background-size: 7rem;

	}
	.curl-inverted{
		width: 8rem;
		height: 1.5rem;
		background-size: 7rem;
	}

}

@media screen and (max-width: 480px) {
	.myslide {height: 30vh;}
	.slideShowTxt h1 {
		font-size: 30px;
		margin-bottom: 15px;
		line-height: 1.2em;
		text-align: center;
	}
	.slideShowTxt p {display: none;}
	.dot {
		display: inline-block;
		width: 4.5px;
		height: 4.5x;
		background-color: #ffffff;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
	}

	.active {background-color: #ca9b52;}
	.navbar a{font-size: 3.2vw;}
	.home-announcement-left{
		width: 90%;
		height: 250px;
	}
	.home-announcement-right{
		margin: 0;
		margin-top: -40px;
		border-top: solid var(--palatinate-purple) 25px;
		border-right: 1px solid #ebe7ee;;
	}
	#home-about .section-header h2{
		font-size: 8vw;
		display: inline-block;
	}
	#home-information .card, #home-about .card{width: 100%;}
	.profile-main h2{font-size: 1.5em;margin-top: 10px;}
	.section-header h2{
		font-size: 7vw;
		font-weight: bold;
		padding: auto;
		text-align: center;
	}
	.section-header h3{
		font-size: 4.5vw;
		padding: auto;
		color:  var(--tumbleweed);
		text-align: center;
	}
	
	#footer .flex{flex-direction: column;}
	.footer-list li{text-align: center;}

	.languages-section a{text-align: center;}
	.hide-on-smartphone{display: none;}
	.show-on-smartphone{display: block;}
}