@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root{
    --black-color: #000000 ;
	--jet: #333533ff;
	--lightGrey-color: #ebe7ee;
	--honey-yellow: #f9ae1eff ;
	--hoverGolden-color: #ffec99;
	--castleton-green: #205843ff;
	--pastel-pink: #ddaea7ff;
	--languid-lavender: #e1d9efff;
	--glossy-grape: #b39ebcff;
	--chinese-violet: #86648aff;
	--palatinate-purple: #582957ff;
	--gradient: linear-gradient(to bottom right, #582957ff,rgb(56, 27, 56));


}
html {scroll-behavior: smooth;}

h2{
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	padding: 4% 0;
	color: var(--jet);
}
h3{
	font-family: 'Libre Baskerville', serif;
	font-weight: lighter;
	padding: 2% 0;
	color: var(--jet);
}
p{padding: 10px 0 10px 0;}
hr {width: 100%;height: 2.5px;background-color:var(--castleton-green);opacity: 0.5;}
q {font-style: italic;}


/*Utility Classes*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	align-items: center;
	justify-content: center; 
	padding: 1.5rem;
}
.btn{
	text-decoration: none;
	color: var(--palatinate-purple);
	font-size: small;
	padding: 10px 20px;
	display: inline-block;
	letter-spacing: 2px;
	border: solid var(--palatinate-purple) 0.9px;
}
.btn:hover{
	background-color: var(--palatinate-purple);
	color: #ffff;
}
.box-shadow {box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 20px 0 rgba(0, 0, 0, 0.05);;}
.drop-shadow-medium {filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.6));}
.drop-shadow-large {filter: drop-shadow(5px 5px 10px rgb(0 0 0 / 0.3));}
.content-align-left{margin-left: auto; margin-right: 0;}
.content-align-right{margin-left: 0;margin-right: 100%;}
.content-align-center{margin: 0 auto;}
.flex{display: flex; justify-content: center;}
.flex-column{flex-direction:column;}
.float-right{float: right;}
.float-left{float: left;}
.margin-10px{margin: 10px;}
.margin-right{margin-right: 2em}
.margin-left{margin-left: 2em}
.padding-top{padding-top: 1.5rem;}
.padding-bottom{padding-bottom: 1.5rem;}
.hide-on-desktop{display: none;}
.rotate-text{transform: rotate(-10deg);}
.text-align-center{text-align: center; }
.text-align-left{text-align: left;}
.text-align-right{text-align: right;}
.stylish-font{
	font-family:'Great Vibes', cursive;
	/*letter-spacing: 8px;*/
	font-size: 2em;
	color: var(--honey-yellow);
}


[aria-current]{font-weight: bold;}

/*-----------------------------headerSlideShow----------------------------------*/
.slider {
	position: relative;
	width: 100%;
	background: #000000;
}
.myslide {
	height: 65vh;
	display: none;
	overflow: hidden;
}
.myslide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 20px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover,
.next:hover {
	color: var(--honey-yellow);
}
.next {
	right: 0;
}
.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: #ffffff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
.dot:hover {
	background-color: var(--hoverGolden-color);
}
/* javascript */
.active {
	background-color: var(--honey-yellow);
}
/*javascript ends*/

/*muslide add fade */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: 0.3}
	to {opacity: 0.9}
}
@keyframes fade {
	from {opacity: 0.3}
	to {opacity: 0.9}
}
/*muslide add fade ends*/
.slideShowTxt {
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 25px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
	-webkit-animation-duration: 2s;
	animation-name: posi;
	animation-duration: 2s;
	z-index: 1;
}
@-webkit-keyframes posi {
	from {left: 25%;}
	to {left: 15%;}
}
@keyframes posi {
	from {left: 25%;}
	to {left: 15%;}
}
.slideShowTxt h1 {
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.slideShowTxt p {
	font-size: 15px;
}
.imgSlideShow {
	transform: scale(1, 1);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 80s;
	animation-name: zoomin;
	animation-duration: 80s;
}
@-webkit-keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.5, 1.5);}
}
@keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.5, 1.5);}
}
/*------------------------headerSlideShow_ENDS-------------------------------------*/
/*----------------------- vanillaNavigation_bar------------------------------------*/
.navbar {
	width: auto;
	height: 50px;
}
.navbar ul {
	text-align: center;
	list-style-type: none;
	width: auto;
}
.navbar li {
	display: inline-block;
	padding: 10px 15px;
	text-align: center;
	margin: 6px auto;
}
.navbar a {
	text-align: center;
	color: var(--black-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2vw;
}
.navbar a:hover {color: var(--honey-yellow);}

/* Dropdown Button */
.dropbtn {border: none;}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 250px;
	z-index: 1;
}
.dropdown-content a {
	text-align: left;
	color: var(--black-color);
	padding: 12px 20px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {color: var(--honey-yellow);}
.dropdown:hover .dropdown-content {display: block;}
.paddingLeft{padding-left: 10px;}
/*-------------------------vanillaNavigationBar_ENDS--------------------------------*/
/*---------------------------accordionNavigationBar---------------------------------*/
.accordion-container{
	display: none;
}
.accordion {
	padding: 15px;
	background-color: #ffffff;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 20px;
	transition: 0.4s;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}
.activeAccordion,
.accordion:hover {
	color: var(--honey-yellow);
}
.accordion:after {
	font-weight: bold;
	float: center;
}
.activeAccordion:after {
  	font-family: 'FontAwesome';
}
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	text-align: center;
	transition: max-height 0.2s ease-out;
}
/*------------------------accordionNavigationBar_ENDS--------------------------------*/
/*------------------------------countdownTimer---------------------------------------*/
.countdown{
	text-align: center;
  	font-size: 60px;
  	margin: 2%;
}
/*----------------------------countdownTimer_ENDS-----------------------------------*/
/*------------------------------------item1-----------------------------------------*/
#item1{
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.item1-left{
	width: 45%;
	height: 500px;
	background: url(../img/safeTheDate_section_edited@2x.jpg) no-repeat center/cover;
	border-radius: 8px;
}
.item1-right{
	background: url(../img/item1_rightbox.jpg) no-repeat center/cover;
	width: 50%;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	margin-left: -45px;
	border-right: solid var(--palatinate-purple) 50px;
	border-radius: 8px;
}
.item1-right h2{
	font-weight: lighter;
	font-size: 3vw;
	text-align: center;
	padding: 5px 0px 5px 0;
	color: var(--jet);
}
.item1-right h3{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: lighter;
	font-size: 2vw;
	text-align: center;
	color: var(--palatinate-purple);
	opacity: 85%;
}
.item1-right h4{
	font-weight: lighter;
	font-size: 1.2vw;
	text-align: center;
	color: var(--palatinate-purple);
}
.item1-right p{
	font-weight: lighter;
	text-align: center;
	color: var(--jet);
}
.item1-right .stylish-font{
	color: var(--honey-yellow);
}
.item1-right .three-colums{
	grid-template-columns: 1fr 0.4fr 1fr;
	align-items: center;
	justify-content: center;
}
/*-----------------------------------------item1_ENDS-----------------------------------*/
/*-------------------------------------------item2--------------------------------------*/
#item2{
	background-color: var(--languid-lavender);
}
.card {
	max-width: auto;
	padding: 1.5em;
	margin: 10px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 8px;
 }
.profile-image{
	border-radius: 50%;
	border: 3px solid var(--palatinate-purple);
	padding: 3%;
}
.profile-main h2{
	font-size: 1.5em;
	line-height: 1.1;
}
.profile-main h3{
	font-size: 1.7em;
	line-height: 1.1;
	color: var(--honey-yellow);
}
.social-list{
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100px;
}
.social-list a{
	color: var(--palatinate-purple);
	opacity: 0.8;
	font-size: 1rem ;
}
.social-list a:hover{opacity: 1;}
/*---------------------------------------item2_ENDS------------------------------------*/
/*------------------------------------------item3--------------------------------------*/
.quotes-container {
	position: relative;
	background: #f1f1f1f1;
}
.myQuotes {
	display: none;
	padding: 80px;
	text-align: center;
	color: #ffff;
}
.darken-blending{
	background-blend-mode:darken;
}
.quote-img-1{
	background: rgba(0, 0, 0, 0.5) url(../img/quoteBG1.jpg) fixed no-repeat center/cover;		
}
.quote-img-2{
	background: rgba(0, 0, 0, 0.5)  url(../img/quoteBG2.jpg) fixed no-repeat center/cover;
}
.quote-img-3{
	background: rgba(0, 0, 0, 0.5)  url(../img/quoteBG3.jpg) fixed no-repeat center/cover;
}
.dotQuote {
	cursor: pointer;
	height: 7px;
	width: 7px;
	margin: 0 0.7em;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.activeQuote,
.dotQuote:hover {
	background-color: var(--honey-yellow);
}
.author {color: var(--honey-yellow);}
/*---------------------------------------item3_ENDS------------------------------------*/
/*------------------------------------------item4--------------------------------------*/
#item4{background-color: var(--languid-lavender);}
#item4 .card{
	margin: 0;
	height: 90%;
}
#item4 .btn{
	border: none;
	margin-top: -150px;
	padding: 0.7rem 2rem;
	background-color: var(--palatinate-purple);
	color: white;
	border-radius: 2px;
	letter-spacing: 0.2em;	
}	
#item4 .btn:hover{
	transform: scale(1.1);	
}	

.infoIcon-schedule{
	background:  url(../img/SVG/infoIcon-schedule.svg) no-repeat center;
	width: 45%;
	height: auto;
}
.infoIcon-confirmation{
	background: url(../img/SVG/infoIcon-confirmation.svg) no-repeat center;
	width: 45%;
	height: auto;
}
.infoIcon-gifts{
	background: url(../img/SVG/infoIcon-gifts.svg) no-repeat center;
	width: 45%;
	height: auto;
}
/*---------------------------------------item4_ENDS------------------------------------*/
/*----------------------------------------gallery--------------------------------------*/
.gallery{
	margin: 2%;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: 200px;
}
.gallery img:hover{
	filter: grayscale(100%);
	transform: scale(1.02);
}

















/*--------------------------------------gallery_ENDS-----------------------------------*/



















/*------------couple_section--------------*/
.two-colums{
	display: grid;
    grid-gap: none;
    grid-template-columns: 1fr 1fr;
}
.two-colums_smallLeft{
	display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1.5fr;
	padding: 5%;
}
.two-colums_smallRight{
	display: grid;
    grid-gap: 20px;
    grid-template-columns: 1.5fr 1fr;
	padding: 5%;
}
.three-colums{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}
.img-resize-portrait{
	width: auto;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
/*------------luckyCouple_section_ENDS--------------*/
@media screen and (max-width: 768px) {
	.container{
		flex-direction: column;
		width: 100%;
		margin: 0 10px;
	}
	.flex{
		flex-direction: column;
		align-items: center;
	}
	.hide-on-small {display: none;}
	.show-on-small{display: block;}	
	.item1-left{
		width: 90%;
	}
	.item1-right{
		width: 75%;
		margin: 0;
		margin-top: -100px;
		border-top: solid var(--palatinate-purple) 50px;
		border-right: none;
	}
	.item1-right h3{
		font-size: 3vw;	
	}
	.item1-header h2{
		font-size: 3em;
	}
	.item1-header h4{
		font-size: 1.2em;
	}
	.myslide {
		height: 50vh;
	}
	.slideShowTxt {
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}
	@-webkit-keyframes posi2 {
		from {top: 35%;}
		to {top: 50%;}
	}
	@keyframes posi2 {
		from {top: 35%;}
		to {top: 50%;}
	}
	.slideShowTxt h1 {
		font-size: 30px;
		line-height: 1.2em;
		text-align: center;
	}
	.slideShowTxt p {
		font-size: 10px;
		text-align: center;
	}
	.dot {
		display: inline-block;
		width: 5px;
		height: 5px;
		background-color: #ffffff;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
	}
	.active {
		background-color: #ca9b52;
	}
	.accordion-container{
		display: block;
	}
	.navbar {
		width: 100%;
		height: auto;
		box-shadow: none;
	}
	.navbar ul{
		position: relative;
		width: auto;
		height: auto;
		text-align: center;
		background: #ffffff;
		transition: all 0.5s;
	}
	.navbar li{
		display: block;
		margin: 5px 0;
		line-height: 15px;
	}
	.navbar a{
		color: var(--black-color);
		font-size: 1.5vw;
	}
	.card{
		max-width: 75%;
	}
	.profile-main{
		text-align: center;
		margin: 0;
	}
	.profile-main h2{font-size: 2em;padding: 0;}
	.social-list{
		float: none;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	.myslide {
		height: 30vh;
	}
	.slideShowTxt h1 {
		font-size: 30px;
		margin-bottom: 15px;
		line-height: 1.2em;
		text-align: center;
	}
	.slideShowTxt p {
		display: none;
	}
	.dot {
		display: inline-block;
		width: 4.5px;
		height: 4.5x;
		background-color: #ffffff;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
	}

	.active {
		background-color: #ca9b52;
	}
	.navbar a{
		color: var(--black-color);
		font-size: 2.7vw;
	}
}

